$sans: 'Muli', sans-serif;
$serif: 'Playfair Display', serif;

/*Cool Almond*/
$primary-color-1: #3F5F73;
$primary-hover-1: #668F92;
$primary-text-color: lighten(#FFEBCD, 7%);
$dark-accent-color: #5E1619;
$light-accent-color: #ADCFC5;

/*Blanched Lloyd Wright*/
// $primary-color-1: #352C2B;
// $primary-hover-1: #3C555C;
// $primary-text-color: #FFEBCD;
// $dark-accent-color: #CD5510;
// $light-accent-color: #9E9657;

/*Beached Almond*/
// $primary-color-1: #7F6640;
// $primary-hover-1: #CCBCA4;
// $primary-text-color: #FFEBCD;
// $dark-accent-color: #7F6640;
// $light-accent-color: #FFCC80;
