$sans: 'Muli', sans-serif;
$serif: 'Playfair Display', serif;

/*Cool Almond*/
$primary-color-1: #3F5F73;
$primary-hover-1: #668F92;
$primary-text-color: lighten(#FFEBCD, 7%);
$dark-accent-color: #5E1619;
$light-accent-color: #ADCFC5;
