@import '_variables.scss';

body {
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
}

.application {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.reminders-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $primary-color-1;
}

.reminder-list {
  height: 80vh;

  padding: 15px;
  overflow-y: scroll;
  list-style: none;
}

.add-reminder-button-container {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;

  background-color: darken($primary-color-1, 30%)
}

.add-reminder-button {
  height: 40px;
  width: 40px;

  border-radius: 50px;
  border: none;
  background-color: lighten($primary-color-1, 10%);
}

.reminder-container {
  flex: 2;
  padding: 50px;
}

.reminder-list-item:hover{
  cursor: pointer;
  background-color: blanchedalmond;
  font-family: 'Fira Sans';

}

.reminder-list-item:active {
  background-color: bisque;
}
