@import '_variables.scss';

body {
  margin: 0;
  font-family: $sans;
  color: $primary-text-color;
  box-sizing: border-box;
}

p {
  font-family: $serif;
  font-size: 1.1em;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid $dark-accent-color;
}

.application {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.reminders-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color-1;
}

.reminder-list {
  height: 80vh;
  padding: 0 10px;
  overflow-y: scroll;
  list-style: none;
}

.add-reminder-button-container {
  align-items: center;
  display: flex;
  height: 15vh;
  justify-content: center;
  background-color: $primary-hover-1;
}

button {
  height: 60px;
  width: 150px;
  border: none;
  border-radius: 10px;
  padding-top: 0;
  font-size: 40px;
  font-family: $sans;
  color: $primary-text-color;
  background-color: $dark-accent-color;
}

.delete-button {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  float: right;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 5px;
}

.edit-button {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  float: right;
  text-decoration: none;
  font-size: 14px;
}

.reminder-submit-button {
  padding-top: 5px;
  font-size: 25px;
}

.reminder-revert-button {
  padding-top: 5px;
  font-size: 25px;
}

form {
  background-color: $light-accent-color;
  color: $dark-accent-color;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid $dark-accent-color;
  max-width: 70%;
  margin: auto;
}

input {
  border: none;
  margin: 10px 0;
  background-color: $primary-text-color;
  color: $primary-color-1;
  font-family: $sans;
  padding: 5px 0 5px 10px;
  height: 35px;
  font-size: 1.3em;
  max-width: 98%;
}

.reminder-title-input {
  width: 98%;
}

textarea {
  border: none;
  margin: 10px 0;
  background-color: $primary-text-color;
  color: $primary-color-1;
  font-family: $serif;
  padding: 5px 0 5px 10px;
  height: 100px;
  font-size: 1em;
  width: 98%;
}

.reminder-notes-input {
  font-family: $sans;
}

button:hover {
  cursor: pointer;
  background-color: lighten($dark-accent-color, 10%);
}

.reminder-container {
  flex: 2;
  padding: 50px;
  background-color: $light-accent-color;
  color: $primary-color-1;
  border: 1px solid $dark-accent-color;
  justify-content: center;
}

.reminder-list-item {
  padding: 15px;
  margin: 0;
  border-radius: 5px;
}

.reminder-list-item:hover {
  cursor: pointer;
  background-color: $primary-hover-1;
}

.dirty-warning-icon {
  float:right;
}

.reminder-detail-date {
  font-family: $sans;
  margin: 0;
  color: $dark-accent-color;
}

.spec-reminder-item {
  border: none;
  margin: 0;
}

.reminder-item-date {
  font-family: $sans;
  margin: 0;
}

.reminder-list-item.active {
  border: none;
  background-color: rgba($primary-text-color, .8);
  color: $primary-color-1;
}

.reminder-item-detail {
  background-color: $primary-text-color;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid $dark-accent-color;
  max-width: 70%;
  margin: auto;
}

.spec-reminder-title {
  color: $dark-accent-color;
  border-bottom: 1px solid $dark-accent-color;
}
