
<form>
  <h2>Create New Reminder</h2>
  <input class="reminder-title-input" placeholder="Insert Title" /> <br>
  <input class="reminder-date-input" placeholder="Insert Date" /> <br>
  <input class="reminder-notes-input" placeholder="Insert Note" /> <br>
  <button class="reminder-submit-button">Submit New Reminder</button>
</form>
