
<form class="create-reminder-form" {{action "createReminder" on="submit"}}>
  <h2>Create new reminder</h2>
  {{ input value=title class="reminder-title-input" placeholder="Insert Title" }} <br>
  {{ input value=date type="datetime-local" class="reminder-date-input" placeholder="Insert Date" }}<br>
  {{ textarea value=notes class="reminder-notes-input" placeholder="Insert Note" }} <br>
  <button class="reminder-submit-button">Submit</button>
</form>
