<h1>Reminders: </h1>

<ul class="reminder-list">
    {{#each model as |reminder|}}
      {{#link-to "reminder-list.reminder-detail" reminder tagName="li" class="reminder-list-item" }}
          <h2 class="spec-reminder-item">{{reminder.title}}</h2>
          <p>{{reminder.date}}</p>
          <p>{{reminder.notes}}</p>
      {{/link-to}}
    {{/each}}
    {{outlet}}
</ul>
<section>
  {{#link-to "new" null tagName="button" class="new-reminder-button"}}
    â•
  {{/link}}
</section>
<!--
make button
  make new route to /new
  in new have input and button
  -->



<!-- Users should be able to create new note.

At the bottom of the reminders.hbs template, there is a button that routes the use to /new where they can create a new reminder.


The new reminder should have inputs for the title, date, and notes.
The new reminder should have a button for submitting the new note.
Pressing the button, should submit reminder to the database and have it shown in the Reminders list.
There are no tests set up for this user story. So, you'll have to write an acceptance test. -->
