<section class="reminders-list-container">
  <ul class="reminder-list">
      {{#each model as |reminder|}}
        {{#link-to "reminder-list.reminder-detail" reminder tagName="li" class="reminder-list-item" }}
            <h2 class="spec-reminder-item">{{reminder.title}}</h2>
            <p class="reminder-item-date">{{reminder.date}}</p>
        {{/link-to}}
      {{/each}}
  </ul>
  <div class="add-reminder-button-container">
    {{#link-to "reminder-list.new"}}
      <button class="add-reminder-button">â•</button>
    {{/link-to}}
  </div>
</section>

<section class="reminder-container">
  {{outlet}}
</section>
