<h1>Reminders: </h1>


<ul class="reminder-list">
    {{#each model as |reminder|}}
      {{#link-to "reminder-list.reminder-detail" reminder tagName="li" class="reminder-list-item" }}
          <h2 class="spec-reminder-item">{{reminder.title}}</h2>
          <p>{{reminder.date}}</p>
          <p>{{reminder.notes}}</p>
      {{/link-to}}
    {{/each}}
</ul>
{{outlet}}
<section>
  {{#link-to "reminder-list.new"}}
    <button>â•</button>
  {{/link-to}}
</section>
