<section class="reminders-list-container">
  <input class="reminder-list-filter" type=search name=s />
  <ul class="reminder-list">
      {{#each model as |reminder|}}
        {{#link-to "reminder-list.reminder-detail" reminder tagName="li" class="reminder-list-item" }}
          <span title="This reminder has unsaved changes!" class="dirty-warning-icon" hidden={{ unless reminder.hasDirtyAttributes 'true' }}>âš ï¸</span>
          <h2 class="spec-reminder-item">{{reminder.title}}</h2>
          <p class="reminder-item-date">{{reminder.date}}</p>
        {{/link-to}}
      {{/each}}
  </ul>
  <div class="add-reminder-button-container">
    {{#link-to "reminder-list.new"}}
      <button class="add-reminder-button">+</button>
    {{/link-to}}
  </div>
</section>

<section class="reminder-container">
  {{outlet}}
</section>
